In [1]:
import pandas as pd
import numpy as np
import folium # interactive map

In [2]:
train_data=pd.read_csv("train.csv", low_memory=False)

In [3]:
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [4]:
subset_data=train_data[train_data.trip_duration>1200]
subset_data.shape

(295493, 11)

In [5]:
subset_data['pickup_datetime']=pd.to_datetime(subset_data['pickup_datetime'])

C:\Users\yuy\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
subset_data['pickup_month']=subset_data['pickup_datetime'].dt.month
subset_data['pickup_day']=subset_data['pickup_datetime'].dt.day
subset_data['pickup_hour']=subset_data['pickup_datetime'].dt.hour
subset_data['pickup_weekday']=subset_data['pickup_datetime'].dt.weekday

C:\Users\yuy\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\yuy\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\yuy\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\yuy\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [7]:
subset_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_month,pickup_day,pickup_hour,pickup_weekday
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,1,19,11,1
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551,5,21,7,5
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,3,10,21,3
10,id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,N,1274,5,10,22,1
14,id2900608,2,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,N,1414,5,27,0,4

In [8]:
type(subset_data['pickup_latitude'].values[3])

numpy.float64

In [9]:
subset_data['pickup_latitude']=subset_data['pickup_latitude'].astype(float)
subset_data['dropoff_latitude']=subset_data['dropoff_latitude'].astype(float)

subset_data['pickup_longitude']=subset_data['pickup_longitude'].astype(float)
subset_data['dropoff_longitude']=subset_data['dropoff_longitude'].astype(float)

C:\Users\yuy\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\yuy\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\yuy\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\yuy\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

# Plot map via folium (version 0.5)

In [10]:
taxi_map=folium.Map(location=[40.763940, -73.982651], #lat, longitude
                   tiles='stamentoner', #Mapbox Bright is an alternative, but zoom doesn't work
                   zoom_start=12, max_zoom=20)

In [11]:
#folium only plots by looping through the rows of df. Only showing first 4000 points
for index, row in subset_data[:4000].iterrows(): 
    #print(row)
    folium.CircleMarker(location=[row['pickup_latitude'], row['pickup_longitude']], radius=1,color='#3186cc',
                        fill_color='#3186cc', opacity=0.4,
                    fillOpacity= 0.4, popup=('trip duration: '+str(row['trip_duration']))).add_to(taxi_map)
    folium.CircleMarker(location=[row['dropoff_latitude'], row['dropoff_longitude']], radius=1,color='indianred',
                        fill_color='indianred', opacity=0.4,
                    fillOpacity= 0.4, popup=('trip duration: '+str(row['trip_duration']))).add_to(taxi_map)

In [13]:
taxi_map

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [ ]:
taxi_map.save('taxi.html')

# temporal heatmap for Monday

In [ ]:
mon_data=subset_data[subset_data['pickup_weekday']==1]
mon_data.shape

### make multidimensional list to represent temporal movements

In [ ]:
num_tp=mon_data['pickup_hour'].unique()

In [ ]:
hourly_data = [[0] * 2] * 24
# this creats list of arrays of uneven lengths
for i in range(24):
    hourly_data[i]=mon_data[:4000][mon_data['pickup_hour']==i][['pickup_latitude','pickup_longitude']].values.tolist()

In [ ]:
import folium.plugins as plugins

In [ ]:
hm = plugins.HeatMapWithTime(hourly_data, auto_play=True, max_opacity=0.5)

In [ ]:
#call this again to start clean
taxi_map=folium.Map(location=[40.763940, -73.982651], #lat, longitude
                   tiles='stamentoner', #Mapbox Bright is an alternative, but zoom doesn't work
                   zoom_start=12, max_zoom=20)

In [ ]:
hm.add_to(taxi_map)

In [ ]:
taxi_map